/* variables.css */
:root {
  --foreground-color: black`; /* Dark gray for font color */
  --background-color: #E8E8E8; /* Creamy background color */
  --primary-color: #E8E8E8;
  --secondary-color:#0C2034;
}


.custom-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius:10%;
  padding:5px;
  margin:2px;
  width:120px;

}

